<div class="row variablerow">
	<div class="row col-md-12" id="descriptives">
		<script>
			require(['d3'], function(d3){
				d3.select("#classFlowLink").attr("href", "#classFlow"+id).attr("aria-controls", "classFlow"+id).attr("id", "classFlowLink"+id);
				d3.select("#classFlow").attr("id", "classFlow"+id);
				d3.select("#matrixLink").attr("href", "#matrix"+id).attr("aria-controls", "matrix"+id).attr("id", "matrixLink"+id);
				d3.select("#matrix").attr("id", "matrix"+id);
			});
		</script>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a id="classFlowLink" href="#classFlow" aria-controls="classFlow" role="tab" data-toggle="tab">Flow of Classes</a>
			</li>
			<li role="presentation">
				<a id="matrixLink" href="#matrix" aria-controls="matrix" role="tab" data-toggle="tab">Matrix of Nullity + Class Prediction Error</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="classFlow">
				<svg>
					<script>
						require(['d3'], function(d3){
							var data = {{ error_distribution_dicts }};
							var svg = d3.select("#classFlow"+id+" svg");
							plotMultiSankey(data, svg);
							for(var i = 0; i < data.length; i++) {
								for(var j = 0; j < data[i].links.length; j++) {
									var table = d3.select("#classFlow"+id)
										.append("table");
									table.attr("border", 1)
										.attr("class", "dataframe sample")
										.attr("id", "table" + data[i].links[j].source + "-" + data[i].links[j].target + "-" + i + "-" + id)
										.style("display", "none");
									table = table.append("tbody");
									for(var k = 0; k < data[i].links[j].occurences.length; k++) {
										var tr = table.append("tr");
										for(var l = 0; l < data[i].links[j].occurences[k].length; l++) {
											tr.append("td")
												.text(data[i].links[j].occurences[k][l]);
										}
									}
								}
							}
						});
					</script>
				</svg>
			</div>
			<div role="tabpanel" class="tab-pane" id="matrix">
				<script>
					require(['d3'], function(d3){
						var matrixes = {{ missingMatrixes }}
						var div = d3.select("#matrix"+id);
						for(let i = 0; i < matrixes.length; i++) {
							div.append("br");
							div.append("a").text(matrixes[i].name).style("cursor", "pointer").on("click", function() {d3.select("#matrix"+id+" img").attr("src", matrixes[i].matrix)});
						}
						div.append("img").attr("src", matrixes[0].matrix);
					});
				</script>
			</div>
		</div>
	</div>
</div>