<div class="row variablerow">
	<div class="row col-md-12" id="descriptives">
		<script>
			require(['d3'], function(d3){
				d3.select("#classFlowLink").attr("href", "#classFlow"+id).attr("aria-controls", "classFlow"+id).attr("id", "classFlowLink"+id);
				d3.select("#classFlow").attr("id", "classFlow"+id);
				d3.select("#matrixLink").attr("href", "#matrix"+id).attr("aria-controls", "matrix"+id).attr("id", "matrixLink"+id);
				d3.select("#matrix").attr("id", "matrix"+id);
			});
		</script>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a id="classFlowLink" href="#classFlow" aria-controls="classFlow" role="tab" data-toggle="tab">Flow of Classes</a>
			</li>
			<li role="presentation">
				<a id="matrixLink" href="#matrix" aria-controls="matrix" role="tab" data-toggle="tab">Matrix of Nullity + Class Prediction Error</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="classFlow">
				<svg>
					<script>
						require(['d3'], function(d3){
							var data = {{ error_distribution_dicts }};
							var svg = d3.select("#classFlow"+id+" svg");
							plotMultiSankey(data, svg);
							for(var i = 0; i < data.length; i++) {
								for(var j = 0; j < data[i].links.length; j++) {
									var div = d3.select("#classFlow"+id)
										.append("div")
										.attr("class", "tableContainer");
									div.append("p")
										.text(data[i].strategy+": "+data[i].nodes[data[i].links[j].source].name+" -> "+data[i].nodes[data[i].links[j].target].name);
									var table = div.append("table");
									table.attr("border", 1)
										.attr("class", "dataframe sample");
									div.attr("id", "table" + data[i].links[j].source + "-" + data[i].links[j].target + "-" + i + "-" + id)
										.style("display", "none");
									table = table.append("tbody");
									for(var k = 0; k < data[i].links[j].occurences.length; k++) {
										var tr = table.append("tr");
										for(var l = 0; l < data[i].links[j].occurences[k].length; l++) {
											tr.append("td")
												.text(parseFloat((data[i].links[j].occurences[k][l]).toFixed(2)));
										}
									}
								}
							}
						});
					</script>
				</svg>
			</div>
			<div role="tabpanel" class="tab-pane" id="matrix">
				<script>
					require(['d3'], function(d3){
						var matrixes = {{ missing_matrixes }};
						var select2 = [];
						var outerDiv = d3.select("#matrix"+id);
						var div = outerDiv.append("div")
							.attr("class", "col-md-6");
						div.append("p").text("Preprocessing Strategy: ").style("margin-top", "20px").style("font-size", "12px");
						var select1 = div.append("select").style("font-size", "12px").on("change", function() {
							for(let i = 0; i < select2.length; i++) {
								select2[i].style("display", "none");
							}
							select2[this.selectedIndex].dispatch("change").style("display", "");
						});
						div = outerDiv.append("div")
							.attr("class", "col-md-6");
						div.append("p").text("Order Lines by: ").style("margin-top", "20px").style("font-size", "12px");
						for(let i = 0; i < matrixes.length; i++) {
							select2.push(div.append("select").style("font-size", "12px").style("width", "202px").style("display", "none").on("change", function() {
								d3.select("#matrix"+id+" img").attr("src", matrixes[i].missingMatrixes[this.selectedIndex].image);
							}));
							select1.append("option").text(matrixes[i].name).attr("value", i);
							for(let j = 0; j < matrixes[i].missingMatrixes.length; j++) {
								select2[i].append("option").text(matrixes[i].missingMatrixes[j].name);
							}
						}
						select2[0].style("display", "");
						outerDiv.append("img").attr("src", matrixes[0].missingMatrixes[0].image).style("margin-top", "0");
						outerDiv.append("p").style("font-size", "10px").text("Class Prediction Error is presented as Actual Class → Wrong Predicted Class")
					});
				</script>
			</div>
		</div>
	</div>
</div>