</div>
<div class="panel-heading row variablerow" style="padding-right: 60px">
	<p class="h4" style="text-align: center;">Show More Classifications <button id="moreClassificationsToggle" data-toggle="collapse" data-target="#moreClassifications" class="collapseButton btn btn-xs btn-secondary btn-hover-dark collapsed"></button></p>
</div>
<script>
	d3.select("#moreClassificationsToggle").attr("data-target", "#moreClassifications"+id).attr("id", "moreClassificationsToggle"+id);
	d3.select("#moreClassifications").classed("in", false).attr("id", "moreClassifications"+id);
</script>