<div class="variablerow">
	<p class="h4">Summary table of Classification Reports</p>
	<table class="overviewTable">
		<tr>
			<th>Strategy</th>
			<td>Classification Report</td>
			<td>Confusion Matrix</td>
			<td>Class Prediction Error Distribution</td>
			<td>Accuracy</td>
		</tr>
		<tr>
			<th>Baseline (without missing values)</th>
			<td>
				<img src="{{ values['baseline']['classificationReport'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['baseline']['confusionMatrix'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['baseline']['errorDistribution'] }}" class="center-img">
			</td>
			<td>
				<p class="h4">{{ values['baseline']['accuracy'] }}%</p>
			</td>
		</tr>
		<tr>
			<th>Constant Imputation (=zero)</th>
			<td>
				<img src="{{ values['constant']['classificationReport'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['constant']['confusionMatrix'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['constant']['errorDistribution'] }}" class="center-img">
			</td>
			<td>
				<p class="h4">{{ values['constant']['accuracy'] }}%</p>
			</td>
		</tr>
		<tr>
			<th>Mean Imputation</th>
			<td>
				<img src="{{ values['mean']['classificationReport'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['mean']['confusionMatrix'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['mean']['errorDistribution'] }}" class="center-img">
			</td>
			<td>
				<p class="h4">{{ values['mean']['accuracy'] }}%</p>
			</td>
		</tr>
		<tr>
			<th>Median Imputation</th>
			<td>
				<img src="{{ values['median']['classificationReport'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['median']['confusionMatrix'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['median']['errorDistribution'] }}" class="center-img">
			</td>
			<td>
				<p class="h4">{{ values['median']['accuracy'] }}%</p>
			</td>
		</tr>
		<tr>
			<th>Most Frequent Value Imputation</th>
			<td>
				<img src="{{ values['mostFrequent']['classificationReport'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['mostFrequent']['confusionMatrix'] }}" class="center-img">
			</td>
			<td>
				<img src="{{ values['mostFrequent']['errorDistribution'] }}" class="center-img">
			</td>
			<td>
				<p class="h4">{{ values['mostFrequent']['accuracy'] }}%</p>
			</td>
		</tr>
	</table>
</div>