<script>
	require(['d3'], function(d3){
		d3.select("#miniClassificationReport{{ classification['strat_code'] }}").attr("id", "miniClassificationReport{{ classification['strat_code'] }}-"+id);
		d3.select("#miniConfusionMatrix{{ classification['strat_code'] }}").attr("id", "miniConfusionMatrix{{ classification['strat_code'] }}-"+id);
		d3.select("#miniErrorDistribution{{ classification['strat_code'] }}").attr("id", "miniErrorDistribution{{ classification['strat_code'] }}-"+id);
	});
</script>
<tr>
	<th>{{ classification['strat_name'] }}</th>
	<td width="262px">
		<div id="miniClassificationReport{{ classification['strat_code'] }}" style="background-color:white">
			<svg>
				<script>
					require(['d3'], function(d3){
						var svg = d3.select("#miniClassificationReport{{ classification['strat_code'] }}-"+id+" svg");
						var data = {{ classification['classification_report'] }};
						plotClassificationReport(data, svg, 250);
					});
				</script>
			</svg>
		</div>
	</td>
	<td width="262px">
		<div id="miniConfusionMatrix{{ classification['strat_code'] }}" style="background-color:white">
			<svg>
				<script>
					require(['d3'], function(d3){
						var svg = d3.select("#miniConfusionMatrix{{ classification['strat_code'] }}-"+id+" svg");
						var data = {{ classification['error_distribution_dict'] }};
						plotConfusionMatrix(data, svg, 250);
					});
				</script>
			</svg>
		</div>
	</td>
	<td width="262px">
		<div id="miniErrorDistribution{{ classification['strat_code'] }}" style="background-color:white">
			<svg>
				<script>
					require(['d3'], function(d3){
						var svg = d3.select("#miniErrorDistribution{{ classification['strat_code'] }}-"+id+" svg");
						var data = {{ classification['error_distribution_dict'] }};
						plotErrorDistribution(data, svg, 250);
					});
				</script>
			</svg>
		</div>
	</td>
	<td>
		<p class="h4">{{ classification['accuracy'] }}%</p>
	</td>
</tr>