<script>
	function plotSankey(data, svg) {
		require(['d3', 'sankey'], function(d3, d3sankey){
			var margin = {left: 80, right: 80};
			var height = 300;
			var width = 400;
			var nodeWidth = 5;
			var nodePadding = 20;
			var sankey = d3sankey.sankey()
				.extent([[nodePadding/2 + margin.left, nodePadding/2], [width + margin.left - nodePadding/2, height - nodePadding/2]])
				.nodeWidth(nodeWidth)
				.nodePadding(nodePadding);
			
			svg.attr("height", height)
				.attr("width", width + margin.left + margin.right);
			
			svg.append("rect")
				.attr("x", nodePadding/4 + margin.left)
				.attr("y", nodePadding/4)
				.attr("width", nodeWidth + nodePadding/2)
				.attr("height", height - nodePadding/2)
				.attr("fill", "#ddd");
			svg.append("rect")
				.attr("x", width + margin.left - nodeWidth - nodePadding*0.75)
				.attr("y", nodePadding/4)
				.attr("width", nodeWidth + nodePadding/2)
				.attr("height", height - nodePadding/2)
				.attr("fill", "#ddd");
			svg.append("text")
				.attr("text-anchor", "middle")
				.attr("x", nodePadding/4 + margin.left + (nodeWidth + nodePadding/2)/2)
				.attr("y", height)
				.attr("font-family", "sans-serif")
				.attr("font-size", "10px")
				.text("Actual");
			svg.append("text")
				.attr("text-anchor", "middle")
				.attr("x", width + margin.left - nodeWidth - nodePadding*0.75 + (nodeWidth + nodePadding/2)/2)
				.attr("y", height)
				.attr("font-family", "sans-serif")
				.attr("font-size", "10px")
				.text("Predicted");
			
			data = sankey(data);
			
			var nodes = data.nodes;
			var links = data.links;
			console.log(links);
			
			svg.append("g")
				.attr("stroke", "#000")
				.selectAll("rect")
				.data(nodes)
				.enter()
				.append("rect")
				.attr("x", d => d.x0)
				.attr("y", d => d.y0)
				.attr("height", d => d.y1 - d.y0)
				.attr("width", d => d.x1 - d.x0)
				.attr("fill", d => "#777")
				.append("title")
				.text(d => `${d.name}\n${d.value}`);

			const link = svg.append("g")
				.attr("fill", "none")
				.attr("stroke-opacity", 0.5)
				.selectAll("g")
				.data(links)
				.enter()
				.append("g")
				.style("mix-blend-mode", "multiply");

			var edgeColor = "none";
			
			svg.append("g")
				.selectAll("text")
				.data(links)
				.enter()
				.append("text")
				.text(d => d.value)
				.attr("x", d => margin.left + nodePadding + nodeWidth)
				.attr("y", d => d.y0 + 5)
				.attr("font-size", 10)
				.attr("font-family", "sans-serif");
			svg.append("g")
				.selectAll("text")
				.data(links)
				.enter()
				.append("text")
				.attr("text-anchor", "end")
				.text(d => d.value)
				.attr("x", d => margin.left + width - nodePadding - nodeWidth)
				.attr("y", d => d.y1 + 5)
				.attr("font-size", 10)
				.attr("font-family", "sans-serif");
			
			link.append("path")
				.attr("d", d3sankey.sankeyLinkHorizontal())
				.attr("stroke", function(d) {
					if(d.target.name === d.source.name) {
						return "#1565c0";
					}
					return "#e6ac00";
				})
				.attr("stroke-width", d => Math.max(1, d.width));

			link.append("title")
				.text(d => `${d.source.name} → ${d.target.name}\n${d.value}`);

			svg.append("g")
				.style("font", "10px sans-serif")
				.selectAll("text")
				.data(nodes)
				.enter()
				.append("text")
				.attr("x", d => d.x0 < width / 2 ? d.x1 - nodeWidth - nodePadding/2 : d.x0 + nodeWidth + nodePadding/2)
				.attr("y", d => (d.y1 + d.y0) / 2)
				.attr("dy", "0.35em")
				.attr("text-anchor", d => d.x0 < width / 2 ? "end" : "start")
				.text(d => d.name);
		});
	}
</script>